<div class="alert alert-info text-center" role="alert" *ngIf="!usuario">
  <h4 class="alert-heading">Cargando...</h4>
  <p>
    <i class="fa fa-sync fa-spin fa-2x"></i>
  </p>
  <p class="mb-0"></p>
</div>

<div class="row" *ngIf="usuario">
  <div class="col-2">
    <img [src]="usuario.avatar" alt="avatar" class="img-thumbnail">
  </div>
  <div class="col">
    <ul class="list-group">
      <li class="list-group-item"> <b>Nombre: </b> {{ usuario.first_name }} </li>
      <li class="list-group-item"> <b>Apellido:</b> {{ usuario.last_name }} </li>
    </ul>
  </div>
</div>
